asttokens==3.0.0
cffi==2.0.0
clarabel==0.11.1
contourpy==1.3.3
cvxpy==1.7.4
cycler==0.12.1
decorator==5.2.1
diskcache==5.6.3
executing==2.2.1
fonttools==4.60.1
galois==0.4.7
iniconfig==2.3.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonpickle==4.1.1
kiwisolver==1.4.9
ldpc==2.4.0
llvmlite==0.45.1
MarkupSafe==3.0.3
matplotlib==3.7.2
matplotlib-inline==0.2.1
mpmath==1.3.0
networkx==3.1
numba==0.62.1
numpy==1.26.4
osqp==1.0.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pptree==3.1
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
PyMatching==2.3.1
pyparsing==3.0.9
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.1
pytest==9.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyvis==0.3.2
qLDPC==0.2.6
qsurface==0.1.5
scipy==1.16.3
scs==3.2.9
setuptools==80.9.0
sinter==1.15.0
six==1.17.0
stack-data==0.6.3
stim==1.15.0
sympy==1.14.0
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
wcwidth==0.2.14
